$red: rgba(255, 0, 0, 1);

h1 {
    color: $red
}

.testi {

    padding: 20px;

    background-color: teal;

    button {
        margin-left: 50px;
    }
}

.ruma {

    color: blue;

    font-size: 200px;

    float: right;

}
